* {
    
    box-sizing: border-box;
    margin-top: 10px;
    padding: 0;
    
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box-width {
    width: 50px;
}

#box-height {
    width: 50px;
}

#fs {
    width: 50px;
}

#box-fob-color {
    width: 50px;
}

#content {

    
    width: 400px;
    
}

#apply-btn {
 
    width: 100px;
}

