body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

header {
    background-color: olivedrab;
    color: white;
    text-align: center;
    padding: 20px 0;

}

section {
    max-width: 800px;
    background-color: antiquewhite;
    margin: 20px auto;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
   height: 400px;

}

h2 {
    color: brown;
}

p{
    color: cadetblue;
}

footer {

    background-color: coral;
    padding: 20px 0;
    text-align: center;
}

footer > p {

   color: white;
}

aside {
    width: 150px;
    height: 300px;
    position: fixed;
    bottom: 150px;
    right: 100px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
}

aside > a {
    color: black;
    background-color: transparent;
    text-decoration: none;

    border: 1px solid #545b63;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);   
}

aside > a:hover {
    color: white;
    background-color: darkgreen;
}













